



<div class = "col-sm-4 " >
  <%= image_for(@movie)%>
 </div>

 <div class = "col-sm-8 ">
   <h1 class="big"><%=@movie.title%></h1>
      <div class="small">
        <p><%=@movie.description%></p>
        <p><strong>released on : </strong><%=@movie.released_on%>(<%=time_ago_in_words(@movie.released_on) %>)</p>
        <p><strong>rating :</strong><%=@movie.rating%></p>
        <p><strong>Total gross :</strong><%=format_total_gross(@movie)%></p>
        <p><strong>cast :</strong><%=@movie.cast%></p>
        <p><strong>Directed by :</strong><%=@movie.director%></p>
        <p><strong>Duration :</strong><%=@movie.duration%></p>
        <button><%= link_to "Back" ,movies_path%></button>
        <button><%= link_to "Edit" ,edit_movie_path(@movie)%></button>
         <button><%= link_to "Write Review" ,new_movie_review_path(@movie)%></button>
      </div>
</div>
</body>

