<%content_for :title do%>
  <%=@user.name%>
<%end%>
<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="container">
  <div class="row">
 <!--  <div class ="col-sm-4">
      < image_for(@user)%>
  </div> -->
    <div class="col-sm-8">
      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:name) %> :</strong></dt>
        <dd><%= @user.name %></dd>
        <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
        <dd><%= @user.email %></dd>
        <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
        <dd><%= @user.username %></dd>
      </dl>
      <%content_for :sidebar do%>
       <p><strong><%= model_class.human_attribute_name(:favorite_movies) %> :- </strong></p>
          <ul>
             <%@fav_movies.each do |fmovie|%>
             <li><%=link_to fmovie.title,movie_path(fmovie)%></li>
            <%end%>
          </ul>
      <%end%>


      <%content_for :sidebar do%>
        <p><strong>Reviews :-</strong></p>
        <%@reviews.each do |review|%>
           <p><strong><%= model_class.human_attribute_name(:Movie) %>:</strong>   <%= review.movie.title %></p>

           <p><strong><%= model_class.human_attribute_name(:Stars) %>:</strong>
  <%= review.stars %></p>
           <p><strong><%= model_class.human_attribute_name(:Reviewed_on) %>:</strong>   <%= time_ago_in_words(review.created_at) %></p>

          <p><strong><%= model_class.human_attribute_name(:Comment) %>:</strong>   <%= review.comment %></p>

        <%end%>
      <%end%>


      <%= link_to t('.back', :default => t("helpers.links.back")),
                    root_path, :class => 'btn btn-default'  %>
      <%if current_user?(@user)%>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_user_path(@user), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    user_path(@user),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
     <%end%>
     </div>
  </div>
</div>
